@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Yeseva+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*---------- Content Control  ----------*/
.container {
  max-width: 1250px;
  margin: 65px auto 250px auto;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.last-item {
  margin-left: auto;
}


/*---------- Margin & Padding  ----------*/
.m-auto {
  margin: auto;
}

.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-75 {
  margin-bottom: 75px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-200 {
  margin-left: 200px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-200 {
  margin-right: 200px;
}

/*---------- Text ---------- */
.hr {
  width: 1250px;
}

.h1 {
  font-family: Kanit;
  font-size: 100px;
}

.h2 {
  font-family: Kanit;
  font-size: 50px;
}

.h3 {
  font-family: Kanit;
  font-size: 40px;
}

.h4 {
  font-family: Kanit;
  font-size: 30px;
}

.h5 {
  font-family: Kanit;
  font-size: 28px;
}

.p1 {
  font-family: Kanit;
  font-size: 18px;
}

.label {
  font-family: Kanit;
  font-size: 18px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

/*---------- Font Weights ----------*/
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/*---------- Colors ----------*/
.red {
  color: #FF5151;
}

.white {
  color: #FFFFFF;
}

.gray {
  color: #F3F3F5;
}

/*--------- Buttons ---------- */
.primary-button {
  color: white;
  font-weight: 400;
  font-family: Kanit;
  font-size: 14px;
  min-width: 250px;
  padding: 8px 65px;
  text-align: center;
  background-color: #309393;
  border-radius: 10px;
  border: 1px solid #309393;
}

.primary-button__full-width {
  color: white;
  font-weight: 400;
  font-family: Kanit;
  font-size: 14px;
  width: 100%;
  padding: 8px 65px;
  text-align: center;
  background-color: #309393;
  border-radius: 10px;
  border: 1px solid #309393;
}

.primary-button__large {
  color: white;
  font-weight: 400;
  font-family: Kanit;
  font-size: 20px;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  background-color: #309393;
  border-radius: 10px;
  border: 1px solid #309393;
}

.secondary-button {
  color: black;
  font-weight: 400;
  font-family: Kanit;
  font-size: 14px;
  min-width: 250px;
  padding: 8px 65px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #309393;
}

.secondary-button__full-width {
  color: black;
  font-weight: 400;
  font-family: Kanit;
  font-size: 14px;
  min-width: 250px;
  width: 100%;
  padding: 8px 65px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #309393;
}

.primary-button:hover, .primary-button__full-width:hover, .primary-button__large:hover {
  cursor: pointer;
  background-color: #226c6c;
  border: 1px solid #226c6c;
}

.secondary-button:hover, .secondary-button__full-width:hover {
  cursor: pointer;
  background-color: #309393;
}

.cancel-button {
  color: 5C5C5C;
  font-weight: 400;
  font-family: Kanit;
  font-size: 14px;
  min-width: 250px;
  padding: 8px 65px;
  text-align: center;
  border: 0;
}

.cancel-button:hover {
  cursor: pointer;
  color: #309393;
}

.profile-button {
  color: 5C5C5C;
  font-weight: 400;
  font-family: Kanit;
  font-size: 24px;
  min-width: 250px;
  padding: 8px 65px;
  text-align: center;
  border: 0;
  background-color: transparent;
  color: #FFFFFF;
}

.profile-button:hover {
  cursor: pointer;
  color: #FFDB3D;
}

.profile-nav1 {
  position: absolute;
  top: 330px;
  left: 80px;
  z-index: 3;
}

.profile-nav1_bg {
  position: absolute;
  top: 220px;
  right: 0px;
  z-index: 2;
}

.profile-nav2 {
  position: absolute;
  top: 460px;
  left: 80px;
  z-index: 3;
}

.profile-nav3 {
  position: absolute;
  top: 590px;
  left: 80px;
  z-index: 3;
}

.profile_selected {
  color: 5C5C5C;
  font-weight: 400;
  font-family: Kanit;
  font-size: 24px;
  min-width: 250px;
  padding: 8px 65px;
  text-align: center;
  border: 0;
  background-color: transparent;
  color: #000;
}

/*---------- Labels & Inputs ----------*/
.input {
  background-color: white;
  border: 1px solid #309393;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 18px;
  color: #5C5C5C;
  font-family: kanit;
}

.input:focus {
  outline: none;
  border-color: #68dddd;
}

.textarea_desc {
  resize: none;
}

/*---------- Tables ----------*/
.table {
  width: 1180px;
  border-spacing: 20px;
}

.t-head {
  text-align: center;
  color: #FF5151;
}

.t-row {


}

.t-data {
  padding: 8px 15px;
  background-color: white;
  border: 1px solid #C0C0C0;
  border-radius: 6px;
  font-weight: 400;
  font-family: Kanit;
  font-size: 18px;
  width: 150px;
}

.t-data__book {
  padding: 8px 15px;
  background-color: white;
  border: 1px solid #C0C0C0;
  border-radius: 6px;
  font-weight: 400;
  font-family: Kanit;
  font-size: 18px;
  width: 350px;
}

.table-button {
  color: white;
  font-weight: 400;
  font-family: Kanit;
  font-size: 18px;
  width: 150px;
  padding: 8px 0;
  background-color: #309393;
  border-radius: 10px;
  border: 1px solid #309393;
}

.table-button:hover {
  cursor: pointer;
  background-color: #226c6c;
  border: 1px solid #226c6c;
}

/*---------- Popup ----------*/
.popup-bg {
  background-color: rgba(243, 243, 245, 0.50);
  height: 100vh;
  position: relative;
}

/*---------- Images  ----------*/
.profile-parent {
  position: relative;
  top: 0;
  left: 0;
}

.profile-bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.profile-img {
  position: absolute;
  top: 60px;
  left: 112px;
  z-index: 1;
}